<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>立即下单</title>
<link href="css/inc.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/add_address.css" rel="stylesheet" type="text/css">
<script src="js/jquery.min.js"></script>
<script src="js/Popt.js"></script>
<script src="js/cityJson.js"></script>
<script src="js/citySet.js"></script>
</head>
<body>
<!--顶部开始-->
<div id="top">
   <div class="top1">
      <div class="top1_con">
         <div class="top1_con_f">
            <span>Hi 你吃了吗?</span>
         </div>
         <div class="top_lore">
            <a href="login.html">请登录</a> <a href="register.html">注册</a>
         </div>
         <div class="dw_address">
            请选择地址：<input type="text" id="city"  value=""/>
         </div>
		 <script type="text/javascript">
            $("#city").click(function (e) {
                SelCity(this,e);
                console.log("inout",$(this).val(),new Date())
            });
            </script>
      </div>      
   </div>
   <div  class="top2">
      <div class="top2_con">
         <div class="top2_con_f">
            <a href="index.html"><img src="image/logo.gif"></a>
         </div>
         <div class="sea_form">
            <form>
               <input type="text" placeholder="搜索商家或地点"><button>搜索</button>
            </form>
         </div>
         <nav>
            <a href="index.html">首页</a>
            <a href="wm_index.html">外卖</a>
         </nav>
      </div>
   </div>
</div>
<!--顶部结束-->
<!--中间部分-->
<div id="main">
   <div class="loc_nav"><a href="index.html">首页</a>><a href="wm_shop.html">中国兰州牛肉拉面馆</a>><a href="#">确认购买</a>   </div>
   <div class="sure_or">
      <div class="sure_list">
      <div></div>
      <ul>
         <li><span>菜品</span><span>价格/份数</span></li>
         <li><span>牛肉面</span><span>￥18*2</span></li>
         <li><span>炒饭</span><span>￥12*2</span></li>
         <li><span>炒面</span><span>￥15</span></li>
         <li><span>合计</span><span>￥135</span></li>
      </ul>
   </div>
      <div class="sure_xx">
         <p>送餐详情</p>
		<div class="row" id="myVue"  v-cloak>
					<ul>
						<li>
							<el-row>
								<span class="addAddress" @click="AddressShowClick">新增收货地址</span>
							</el-row>
							<el-dialog
								title="新增收货地址"
								:visible.sync="newAddressShow"
								width="30%"
								>
                                <script language="javascript" type="text/javascript">
								$(document).ready(function() {
								  $(".el-dialog__close").text("关闭");
                                });
                                </script>
								<el-form ref="form" :model="form" label-width="80px">
									<el-form-item label="收货人" >
										<el-input v-model="form.name" placeholder="请输入内容"></el-input>
									</el-form-item>
									<el-form-item label="所在地区" >
										<el-input v-model="form.city" placeholder="请输入内容"></el-input>
									</el-form-item>
									<el-form-item label="详细地址" >
										<el-input v-model="form.minarea" placeholder="请输入内容"></el-input>
									</el-form-item>
									<el-form-item label="手机号码" >
										<el-input v-model="form.phone" placeholder="请输入内容"></el-input>
									</el-form-item>
									<el-form-item>
										<el-checkbox-group v-model="form.isShowDefult">
											<el-checkbox  label="设为默认地址" name="type">设为默认地址</el-checkbox>
										</el-checkbox-group>
									</el-form-item>
								</el-form>
								<span slot="footer" class="dialog-footer">
									<el-button @click="dialogVisible = false" type='danger'>取 消</el-button>
									<el-button type="primary" @click="saveNewAdress(edmitType)">保存</el-button>
								</span>
							</el-dialog>
						</li>
					</ul>
		</div>
		<script type="text/javascript" src="js/vue/vue.js"></script>
        <script type="text/javascript" src="js/eleme-ui/index.js"></script>
        <script type="text/javascript" src="js/ShoppingCart.js"></script>
         <select>
            <option value="address1">吉林省二道区东方广场中意之尊4栋102室 李先生 13756285888</option>
            
            <option value="address2">吉林省长春市南关区解放大路1499号</option>
            
            <option value="address3">吉林省长春市绿原区解放大路1499号</option>
            
            <option value="address4">吉林省二道区东方广场中意之尊4栋102室 李先生 13756285888</option>
         </select>
         <form>
            <ul>
               <li>
                  <span>我要留言：</span><input type="text" placeholder="少辣 加米饭">
               </li>
               <li>
                  <span>发票信息：</span><input type="text" placeholder="输入发票抬头">
               </li>
               <li>
                  <span>发票信息：</span><input type="text" placeholder="输入纳税人识别号">
               </li>
            </ul>
         </form> 
         <div class="go_pay">
            <span>您需要支付：<b>￥48</b></span><button class="go_pay">去付款</button>
            <script language="javascript" type="text/javascript">
                $(".go_pay").click(function(){
					   window.location.href="wm_pay.html";
					});
            </script>
         </div>
      </div>
      <div class="clr"></div>
   </div>
</div>
<!--中间部分-->
<footer>
   <div class="foot_nav">
      <a href="index.html">首页</a>|<a href="wm_index.html">外卖</a>|<a href="wm_index.html">中餐</a>|<a href="wm_index.html">西餐</a>|<a href="wm_index.html">水果</a>|<a href="wm_index.html">饮品</a>
   </div>
   <div class="copy_ri">
         <p>吉林省明日科技有限公司Copyright ©2007-2018, All Rights Reserved 吉ICP备10002740号-2 </p>
         <img src=""></div>
   </div>
</footer>
</body>
</html>
