{% extends 'mj.html'%}
{% load staticfiles %}
{% block title %}吃了么-外卖{% endblock title %}
{% block topfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(function () {
   $('.wm_list li').click(function(){
        //获得当前被点击的元素索引值
         var Index = $(this).index();
		 var line=300*Index-300;
		//给菜单添加选择样式
	    $(this).addClass('active').siblings().removeClass('active');
		 $(".line").stop(true,true).animate({left:line},200);
		$('.wm_list_con').children('div').eq(Index).show().siblings('div').hide();
   });
});
</script>
<script src="{% static 'js/Popt.js' %}"></script>
<script src="{% static 'js/cityJson.js' %}"></script>
<script src="{% static 'js/citySet.js' %}"></script>
{% endblock topfiles %}

{% block body %}
<div id="main">
  <ul class="wm_list">
     <li class="active">全部</li>
      {% for type in type_info %}
        <li>{{ type.type_name }}</li>
      {% endfor %}
  </ul>
  <div class="wm_list_con">
     <div class="list_1">
        <ul>
            {% for item in skus_page %}
               <li>
                   <a href="{% url 'goods:shop_detail' item.id '1' '1' '1' %}">
                       <div class="wm_img"><img src="{{ item.shop_image }}"></div>
                       <div class="cg_inf">
                          <h3>{{ item.shop_name }}</h3>
                          <div class="cg_eva">
                              <ul>
                                  <li><img src="{% static 'image/eva.png' %}"></li>
                                  <li><img src="{% static 'image/eva.png' %}"></li>
                                  <li><img src="{% static 'image/eva.png' %}"></li>
                                  <li><img src="{% static 'image/eva.png' %}"></li>
                                  <li><img src="{% static 'image/eva.png' %}"></li>
                              </ul>
                              <span>{{ item.shop_score }}</span>
                          </div>
                          <div class="food_sc">
                             <span>起送：{{ item.shop_price }}</span><span>配送费：{{ item.send_price }}</span><span>时间：{{ item.duration }}分钟</span>
                          </div>
                       </div>
                   </a>
               </li>
            {% endfor %}
        </ul>

        <div class="pagenation">
            {% if skus_page.has_previous %}
				<a href="{% url 'goods:wm_index' code skus_page.previous_page_number %}">< 上一页</a>
            {% endif %}

            {% for pindex in pages %}
                 {% if pindex == skus_page.number %}
				     <a href="{% url 'goods:wm_index' code pindex %}" class="active">{{ pindex }}</a>
                 {% else %}
				     <a href="{% url 'goods:wm_index' code pindex %}">{{ pindex }}</a>
                 {% endif %}
			{% endfor %}

            {% if skus_page.has_next %}
			    <a href="{% url 'goods:wm_index' code skus_page.next_page_number %}">下一页 ></a>
            {% endif %}
		</div>

     </div>
  </div>

</div>

{% endblock body %}
