{% extends 'mj.html' %}
{% load staticfiles %}
{% block title %}吃了么-商家店铺{% endblock title %}
{% block topfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/Popt.js' %}"></script>
<script src="{% static 'js/cityJson.js' %}"></script>
<script src="{% static 'js/citySet.js' %}"></script>
<script src="{% static 'js/comment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/floor.js' %}"></script>
<script type="text/javascript">
$(function () {
   $('.shop_tab ul li').hover(function(){
        //获得当前被点击的元素索引值
         var Index = $(this).index();
		 var line=300*Index-300; 
		//给菜单添加选择样式
	    $(this).addClass('shop_active').siblings().removeClass('shop_active');
		 $(".line").stop(true,true).animate({left:line},200);
		$('.shop_tab_con').children('div').eq(Index).show().siblings('div').hide();
   });
});
</script> 
<script type="text/javascript">
$(function () {
   $('.eval_nav ul li').click(function(){
        //获得当前被点击的元素索引值
         var Index = $(this).index();
		 var line=300*Index-300; 
		//给菜单添加选择样式
	    $(this).addClass('eval_active').siblings().removeClass('eval_active');
		 $(".line").stop(true,true).animate({left:line},200);
		$('.eval_list_con').children('div').eq(Index).show().siblings('div').hide();
   });
});
</script> 
<script>
	$(function () {
		var obj = new commentMove('.ph1', '.phview1');
		obj.init()
	})
	
	$(function () {
		var obj = new commentMove('.ph2', '.phview2');
		obj.init()
	})
</script>
{% endblock topfiles %}

{% block body %}
 <div id="main">
{{ errmsg }}
   <div class="loc_nav"><a href="{% url 'goods:index' %}">首页</a>><a href="">{{ shop.shop_name }}</a></div>
   <div class="shop_inf">
      <img src="{{ shop.shop_image }}">
      <div class="shop_inf_wz">
         <h2>{{ shop.shop_name }}<span>证</span></h2>
         <b>综合评分：{{ shop.shop_score }}</b>
         <span>接单时间: {{ shop.receive_start }}-{{ shop.receive_end }}
             <font>
                 {% if shop.business_do %}
                    营业中
                 {% else %}
                    休息中
                 {% endif %}
             </font>
         </span>
         <span><font>商户地址: </font>  {{ shop.shop_addr }}</span>
         <ul>
             <li><span>{{ shop.duration }}分钟</span><span>最快送达时间</span></li>
             <li><span>￥{{ shop.shop_price }}</span><span>起送价</span></li>
             <li><span>￥{{ shop.send_price }}</span><span>配送费</span></li>
         </ul>
      </div>
   </div>
   <div class="shop_tab">
      <ul>
         <li class="shop_active">菜单</li>
         <li>评价</li>
	  </ul>
   </div>
   <div class="shop_tab_con">
      <div class="shop_bill">
         <div class="shop_bill_nav">
            <ul class="fixedmeau">
                {% for type in type_info %}
               <li class="bill_active">{{ type.name }}</li>
                {% endfor %}
            </ul>   
         </div>
         
        <div class="louceng_box">
            {% for type in type_info %}
            <div class="louceng">
               <p>{{ type.name }}</p>
               <ul class="menu_li">

                {% for sku in sku_info %}
                    {% if type.id == sku.type_id %}
                  <li>
                     <div>
                        <img src="{{ sku.image }}">
                     </div>
                     <span id="sku_id" name="sku_id" style="display: none">{{ sku.id }}</span>
                     <span>{{ sku.name }}</span>
                     <b>￥{{sku.price}}</b>
				     <div class="bill_btn">  
                         <button class="minus">  
                             <strong></strong>  
                         </button>  
                         <i class="num">0</i>{# 没有num这个样式 #}
                          <button class="add">  
                             <strong></strong>  
                         </button> 
                      </div> 
                  </li>
                    {% endif %}
                {% empty %}
                    <p>暂无商品信息</p>
                {% endfor %}
               </ul>
            </div>
            {% endfor %}

            <div class="shop_car">
               <div class="shop_car_title">
                  <span>购物车</span><a href="javascript:void(0)" class="clear_shopcar">清空购物车</a>
                  <div class="clr"></div>
               </div>
               <ul class="shop_car_con">
                  <p>总计:￥<span id="totalpriceshow">0</span>元</p>
                  <button class="shop_btn" style="display:none">立即下单</button>
                  <button class="shop_btn1" >￥{{ shop.shop_price }}元起送</button>
               </ul>
            </div>

         </div>
        <script language="javascript" type="text/javascript">
        $(function() {
	//加的效果  
	$(".add").click(function () {  
		$(this).prevAll().css("display", "inline-block");  
		var n = $(this).prev().text();  
		var num = parseInt(n) + 1;  
		if (num == 0) { return; }  
		$(this).prev().text(num);
		var danjia = ($(this).parent().prev().text()).substring(1);//获取单价
		var a = $("#totalpriceshow").html();//获取当前所选总价
		$("#totalpriceshow").html(a * 1 + danjia * 1);//计算当前所选总价
		jss();
	});  
	//减的效果  
	$(".minus").click(function () {  
		var n = $(this).next().text();  
		var num = parseInt(n) - 1;  
		$(this).next().text(num);//减1  
		var danjia = ($(this).parent().prev().text()).substring(1);//获取单价
		var a = $("#totalpriceshow").html();//获取当前所选总价  
		$("#totalpriceshow").html(a * 1 - danjia * 1);//计算当前所选总价
		if (num <= 0) {  
			$(this).next().css("display", "none");  
			$(this).css("display", "none");  
			jss();//改变按钮样式  
			 return  
		}  
		if ($("#totalpriceshow").html()<= 0) {  
			$(this).next().css("display", "none");  
			$(this).css("display", "none"); 
            $("#totalpriceshow").html(0)			
			jss();//改变按钮样式  
			 return  
		}  
		jss();
	});  
			})	
			
	$(".shop_btn").click(function(){
		   //window.location.href="wm_plaorder.html";
			var menu = $(".menu_li").children();//获取所有菜品
            var array_id = [];
            var array_count = [];
					  if(menu.length > 0){
						  $.each(menu, function(i,ele){
							  $(ele).find(".num").html();
							  // alert($(ele).find(".num").html())
                              if ($(ele).find(".num").html()>0){
                                  array_id.push($(ele).find("#sku_id").html());
                                  array_count.push($(ele).find(".num").html());
                              }
						  });
                          // var csrf = $('input[name="csrfmiddlewaretoken"]').val();

						  get('/cart/wm_start',{cm1:array_id ,cm2:array_count});
					  }
		   
		})

    function get(URL, PARAMS) {
      var temp = document.createElement("form");
      temp.action = URL;
      temp.method = "get";
      temp.style.display = "none";
      for (var x in PARAMS) {
        var opt = document.createElement("textarea");
        opt.name = x;
        opt.value = PARAMS[x];
        // alert(opt.name)
        temp.appendChild(opt);
      }
      document.body.appendChild(temp);
      temp.submit();
      return temp;
    }

	function jss() {  
		var m = $("#totalpriceshow").html();  
		if (m >= {{ shop.shop_price }}) {
			$(".shop_btn").css("display","inline-block");
			$(".shop_btn1").css("display","none");
		} else {  
			$(".shop_btn").css("display","none");
			$(".shop_btn1").css("display","inline-block");
		}  
	};
		$(".clear_shopcar").click(function () {
			$(".bill_btn .minus").css("display","none");
			$(".bill_btn i").text(0);
			$(".bill_btn i").css("display","none");
			$(".shop_btn").css("display","none");
			$(".shop_btn1").css("display","inline-block");
		    $("#totalpriceshow").html(0);
			});
        </script>
	    <script type="text/javascript" language="javascript">
            /*
             totop  //返回顶部按钮
             fixedevery   // 左侧固定导航的每一项
             louceng  //模块的每一项
             header   //头部
             */
            $(function(){
                var obj = new floor('.totop','.fixedmeau>li','.louceng_box>.louceng','.header_box');
                obj.init()
            })
        </script>
      </div>
       <div class="shop_eval">
          <div class="Praise_degree">
             <p><span>好评度</span><span>{{ rate }}</span></p>
{#             <ul>#}
{#                 <li>好吃</li>#}
{#                 <li>好吃</li>#}
{#                 <li>好吃</li>#}
{#                 <li>好吃</li>#}
{#                 <li>好吃</li>#}
{#                 <li>好吃</li>#}
{#                 <li>好吃</li>#}
{#                 <li>好吃</li>#}
{#             </ul>#}
             <div class="clr"></div>
          </div>
          <div class="eval_nav">
             <ul>
                <li class="eval_active">好评</li>
                <li>中评</li>
                <li>差评</li>
             </ul>
          </div>
          <div class="eval_list_con">
             <div class="eval_one">
                <ul>
                    {% for a in order_info_a.info %}
                   <li>
                      <span>
                         {{ a.user.real_name }}
                         <img src="{{ a.user.image }}">
                      </span>
                        {% for good in a.goods %}
                            <b>{{ good.sku.name }}</b>
                        {% endfor %}
                       <font>{{ a.create_time }}</font>
                      <p>{{ a.comment }}</p>
                        <div class="tm-m-photos ph1">
                          <ul class="tm-m-photos-thumb">
                              {% for im in a.image_list %}
                            <li data-src="{{ im.image }}"> <img src="{{ im.image }}"> <b class="tm-photos-arrow"></b> </li>
                              {% endfor %}
                          </ul>
                          <div class="tm-m-photo-viewer phview1 transition1"> 
                              <img src="">
                          </div>
                        </div>
                   </li>
                    {% endfor %}
                </ul>

                <div class="pagenation">
                {% if order_info_a.info.has_previous %}
                    <a href="{% url 'goods:shop_detail' shop.id order_info_a.info.previous_page_number '1' '1' %}">< 上一页</a>
                {% endif %}

                {% for pindex in order_info_a.pages %}
                     {% if pindex == order_info_a.info.number %}
                         <a href="{% url  'goods:shop_detail' shop.id  pindex   '1' '1'   %}" class="active">{{ pindex }}</a>
                     {% else %}
                         <a href="{% url  'goods:shop_detail' shop.id  pindex  '1' '1'  %}">{{ pindex }}</a>
                     {% endif %}
                {% endfor %}

                {% if order_info_a.info.has_next %}
                    <a href="{% url  'goods:shop_detail' shop.id  order_info_a.info.next_page_number  '1' '1' %}">下一页 ></a>
                {% endif %}
		        </div>

             </div>

             <div class="eval_two">
                <ul>
                    {% for b in order_info_b.info %}
                   <li>
                      <span>
                         {{ b.user.real_name }}
                         <img src="{{ b.user.image }}">
                      </span>
                        {% for good in b.goods %}
                            <b>{{ good.sku.name }}</b>
                        {% endfor %}
                       <font>{{ b.create_time }}</font>
                      <p>{{ b.comment }}</p>
                        <div class="tm-m-photos ph1">
                          <ul class="tm-m-photos-thumb">
                              {% for im in b.image_list %}
                            <li data-src="{{ im.image }}"> <img src="{{ im.image }}"> <b class="tm-photos-arrow"></b> </li>
                              {% endfor %}
                          </ul>
                          <div class="tm-m-photo-viewer phview1 transition1">
                              <img src="">
                          </div>
                        </div>
                   </li>
                    {% endfor %}
                </ul>

                <div class="pagenation">
                {% if order_info_b.info.has_previous %}
                    <a href="{% url 'goods:shop_detail' shop.id '1' order_info_b.info.previous_page_number '1' %}">< 上一页</a>
                {% endif %}

                {% for pindex in order_info_b.pages %}
                     {% if pindex == order_info_b.info.number %}
                         <a href="{% url  'goods:shop_detail' shop.id '1' pindex '1' %}" class="active">{{ pindex }}</a>
                     {% else %}
                         <a href="{% url  'goods:shop_detail' shop.id '1' pindex '1' %}">{{ pindex }}</a>
                     {% endif %}
                {% endfor %}

                {% if order_info_b.info.has_next %}
                    <a href="{% url  'goods:shop_detail' shop.id '1' order_info_b.info.next_page_number '1' %}">下一页 ></a>
                {% endif %}
		        </div>

             </div>

             <div class="eval_three">
                <ul>
                    {% for c in order_info_c.info %}
                   <li>
                      <span>
                         {{ c.user.real_name }}
                         <img src="{{ c.user.image }}">
                      </span>
                        {% for good in c.goods %}
                            <b>{{ good.sku.name }}</b>
                        {% endfor %}
                       <font>{{ c.create_time }}</font>
                      <p>{{ c.comment }}</p>
                        <div class="tm-m-photos ph1">
                          <ul class="tm-m-photos-thumb">
                              {% for im in c.image_list %}
                            <li data-src="{{ im.image }}"> <img src="{{ im.image }}"> <b class="tm-photos-arrow"></b> </li>
                              {% endfor %}
                          </ul>
                          <div class="tm-m-photo-viewer phview1 transition1">
                              <img src="">
                          </div>
                        </div>
                   </li>
                    {% endfor %}
                </ul>

                <div class="pagenation">
                {% if order_info_c.info.has_previous %}
                    <a href="{% url 'goods:shop_detail' shop.id  '1' '1' order_info_c.info.previous_page_number %}">< 上一页</a>
                {% endif %}

                {% for pindex in order_info_c.pages %}
                     {% if pindex == order_info_c.info.number %}
                         <a href="{% url  'goods:shop_detail' shop.id '1' '1' pindex %}" class="active">{{ pindex }}</a>
                     {% else %}
                         <a href="{% url  'goods:shop_detail' shop.id '1' '1' pindex %}">{{ pindex }}</a>
                     {% endif %}
                {% endfor %}

                {% if order_info_c.info.has_next %}
                    <a href="{% url  'goods:shop_detail' shop.id  '1' '1' order_info_c.info.next_page_number %}">下一页 ></a>
                {% endif %}
		        </div>

             </div>

          </div>

{#          <div class="wm_main_fenye">#}
{#         <div class="cp_fenye">#}
{#          <span>当前显示：</span><a href="#">20</a><a href="#">30</a><a href="#">200</a><span>条信息</span>#}
{#          <button><</button><font>1/1</font><button>></button>#}
{#          <input type="text">#}
{#          <button>GO</button>#}
{#         </div>#}
{#          </div>#}
       </div>
  </div>
</div>
{% endblock body %}
